# Useless OS files
.DS_Store
Thumbs.db

# build/ide folders
build/
dist/
vcpkg_installed/
.idea/
.vscode/
.cache/
cmake-build-*
build-*

# cmake
CMakeUserPresets.json

# executables
main
ace-nes
nestest
single-step-tests

# application files
imgui.ini
imgui_log.txt
settings.toml
